
.invoice {
    span {
        color: #505050;
        font-size: 1rem;
        font-weight: 400;
    }

    .invoice-number {
        font-weight: 600;
    }

    &.final {
        .invoice-title {
            color: #00C94D;
            font-size: 1.3rem;
            font-weight: 600;
        }

        .invoice-number {
            font-size: 1.3rem;
            font-weight: 600;
        }
    }
}

.dicsount-code {
    background-color: #00C94D22;

    input {
        background-color: transparent;
        width: 100%;
        border: none;
        outline: none;
    }

    input::placeholder {
        color: #00C94D
    }

}

.basket-card {
    flex: 1 0 0;
    box-shadow: 0px 4px 12.5px 0px #0000000F;

}
.basket-page-card{
    >p{
        color: #383838;
        font-weight: 700;
    }
    h6{
        font-size: 1rem;
        color: #505050
    }
    .img-container{
        width: 8rem;
        height: 8rem;
    }
    .card-flag{
        width: 2rem;
        height:2rem;
    }
    .counter-section{
        
        background-color: #D9E3F6;
        button{
            width: 2rem;
            height: 2rem;
            background-color: var(--main-color);
        }
        .count-number{
            width: 2rem;
            height: 2rem;
            text-align: center;
            font-size: 1.5rem;
        }
    }
    .card-price{
        font-weight: 600;
    }
    button.button-second{
        svg{
            width: 1.5rem;
            height: 1.5rem
        }
    }
}
.card-shape{
    height:100%;
    width: auto;
    aspect-ratio: 1;
    background-color: var(--success-color);
    opacity: 0.1;
    top:-3.5rem;
    left:-3.5rem;
    transform: rotate(-15deg);
}

@media (max-width: 992px){
    .basket-content{
        flex-wrap: wrap;
        >div{
            width: 100%
        }
    }
    .basket-page-card .img-container{
        width: 5.375rem;
        height: 5.375rem;
    }
    .card-shape{
        left: -4.5rem;
        top: -2.5rem;
    }
    .basket-page-card {
        h6 {
            font-size: 0.7rem;
        }
        .card-flag{
            width: 1.2rem;
            height: 1.2rem;;
        }
        .card-price{
            font-size: 0.7rem;
        }
    }
    .basket-page-card {
       .counter-section {
            button {
                width: 1.2rem;
                height: 1.2rem;
            }
            .count-number{
                width: 1.2rem;
                height: 1.2rem;
                font-size: 0.8rem;
            }
        }
        button.button-second {
            width: 27px;
            height: 27px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }
    .basket-info{
        box-shadow: none !important;
    }
    h2{
        font-size: 1rem ;
    }
    .invoice {
        span{
            font-size: .7rem;
        }
        &.final {
            .invoice-title{
                font-size: 0.875rem
            }
            .invoice-number{
               font-size: 0.875rem

           }
        }
    }
    .dicsount-code{
        padding: 13px !important;
        button{
            font-size: 0.7rem;
        }
    }
    .dicsount-code input{
        font-size: 0.7rem;
    }
    .account-details h3{
        font-size: 0.875rem;
    }
    .basket-content .button-main{
        font-size: 0.7rem;
        margin-top: 0.8rem;
    }
}