:root {
    --main-color: #0040C9;
    --main-color-light: #D9E3F6;
    --second-color: #FF7328;
    --success-color: #00C94D;
    --light-color: #ACACAC;
    --color-1: #646464;
    --color-2: #505050;
    --color-3: #2C2C2C;
    --color-4: #E0E0E0;

}

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family: yekan;
    src: url(./assets/fonts/Yekan.ttf) format(truetype);
} */
body {
    font-family: Vazir;
    font-weight: 400;
    min-height: 100vh;
    overflow-x: hidden;

}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: none;
}

button {
    background-color: transparent;
    border: none;
    outline: none
}

.radius-15 {
    border-radius: 1rem;
}

.radius-20 {
    border-radius: 1.25rem;
}

.radius-2r {
    border-radius: 2rem;
}

.radius-7 {
    border-radius: 7px;
}

.txt-second {
    color: var(--second-color);
}

.txt-success {
    color: var(--success-color);
}


.txt-light {
    color: var(--light-color);
}

.txt-main {
    color: var(--main-color);
}

.txt-1 {
    color: var(--color-1);
}

.txt-2 {
    color: var(--color-2);
}

.txt-3 {
    color: var(--color-3);
}

.gap-12 {
    gap: 12px
}

.shadow-m {
    box-shadow: 4px 2px 10px #00000012;
}
.button-success{
    color: #fff;
    background-color: var(--success-color);
}
.button-main{
    color: #fff;
    background-color: var(--main-color);
}
.button-second{
    color: #fff;
    background-color: var(--second-color);
}

header {
    svg {
        width: 100%;
        height: 50%;
    }

    .logo-container {
        width: 70px;
    }

    .nav-item {
        font-size: 1rem;
    }

    .menu-container {
        margin-top: -100px;

        /* background-color: #55555555; */
        svg {
            width: 30px;
            height: 30px;
        }
    }

    .navbar-brand {
        font-size: 1rem;

    }

    .basket-price {
        border-left: 1px solid var(--color-4);

        h6 {
            font-size: 1rem;
        }

        span {
            font-size: 0.8rem;
        }
    }
}

.main-page-title {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: .1rem;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.card-model-1-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    .card-model-1 {
        box-shadow: 4px 2px 10px #00000012;
        background-color: #fff;
    }

    .number {
        color: #BBBBBB
    }

    .content {

        .img-container {
            height: 60px;
            width: auto;
            aspect-ratio: 1;

            .img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                overflow: hidden;
                background: url(./assets/images/ps5.png);
                background-size: cover;
                background-position: center;
                z-index: 4;
                position: relative
            }

            .img-shadow-m {
                position: absolute;
                width: 70%;
                aspect-ratio: 1.1;
                top: 50%;
                right: 50%;
                background-color: var(--main-color-light);
                border-radius: 35%;
                z-index: 0
            }
        }

        h5 {
            font-size: 1rem;
            color: var(--color-2);
            font-family: Vazir, 'Segoe UI';
            font-weight: 400;
        }

        p {
            font-size: .8rem;
            color: var(--main-color)
        }
    }

    .show-more {
        height: 100%;
        aspect-ratio: 1;
        width: auto;
        background-color: var(--main-color-light);
        opacity: 42%;
        font-size: .7rem;
        font-weight: 300;
        color: var(--main-color)
    }
}

.show-all-list {
    color: #fff;
    background-color: var(--second-color);
    font-size: .9rem;
    width: fit-content;
    border-radius: 1.5rem;

    svg {
        width: 1.5rem;
        height: 1.5rem
    }
}

.slider-header {
    h5 {
        color: var(--color-3);
        font-size: 1.2rem;
        font-weight: 500
    }

    a {
        color: #0084FF;

        svg {
            margin-right: 5px;

            path {

                stroke: #0084FF;
            }
        }

    }
}


.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 1fr; */
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.price {
    font-size: 1.1rem;
    color: #383838;
    font-weight: 500
}

.card-name {
    font-weight: 400;
    font-size: 1rem;
    color: #505050
}

.big-card {
    .img {
        img {
            object-fit: cover;
            object-position: center;
        }
    }




    .add-basket {
       
        font-size: .9rem;

        svg {
            width: 1.5rem;
            height: 1.5rem
        }
    }

    .flag {
        width: 1.6rem;

        /* background-color: red; */
        img {
            width: 100%;
        }
    }
}

.hr-card {
    width: 500px;
    height: 130px;
    flex-shrink: 0;
    background-color: #fff;
    margin-left: 25px;

    .img {
        aspect-ratio: 1.1;
        flex-shrink: 0;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .add-basket {
        top: 10px;
        left: 20px;
        background: var(--success-color);
        border-radius: 10px;

        svg {
            width: 27px;
            height: 25px;
        }
    }

    .discount {
        font-weight: 500;
        font-size: 0.7rem;
    }

    .article-date {
        font-size: 0.95rem;
        color: #959595
    }
}

.why-us-counter>div>div {
    flex: 1 0 0;
    width: 100%;
}

.counter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2.5rem;
    grid-row-gap: 2rem;

    .count-box {
        text-align: center;

        span {
            font-size: 1.5rem;
            line-height: 3rem;
            margin-bottom: 10px;
            font-weight: 700;
        }

        p {
            margin-top: 10px;
            font-size: 0.8rem;
            font-weight: 500;
            color: #5F5F5F;
        }
    }
}

.why-us{
    h4{
        font-size: 1.3rem;
        font-weight: 500;
        padding: 30px 0;
        .border-h{
            width: var(--width);
            right: var(--right);
            background-color: #E8E8E8;
            height: 0.5rem;
            display: inline-block
            
        }
    }
}

.why-us-card {
    flex: 1 0 0;

    .img-svg {
        width: 3rem;
        height: 3rem;

        svg {
            width: 100%;
            height: 100%;
        }

        .bg {
            width: 100%;
            height: 100%;
            background-color: var(--bg);
            opacity: .15;
            top: -1rem;
            left: -1.5rem;
        }
        
    }
    h6{
        font-size: .9rem;
        color: #626262
    }
    p{
        color: var(--bg);
        font-size: 0.8rem;
    }

    &:last-child{
        .img-svg {
           
            svg {
                width: 3.5rem;
                height: 3.5rem;
            }}
    }
}
.footer-top{
    >div{
        flex: 1 0 0 ;
        a{
            color: #626262;
            box-shadow: 0 4px 4px #0000000F;
            background-color: #fff ;
        }
    }
    .footer-top-left{
        p{
            color: #929292;
            font-size: 0.9rem;
            line-height: 1.7rem;
        }
        .sonic-footer{
            width: 200px;
            
            img{
                width: 100px;
                position: relative;
                z-index: 1;
            }
            &:after{
                content: '';
                display: inline-block;
                width: 120px;
                height: 90px;
                background-color:#FF732821;
                position: absolute;
                top: -0;
                right: -0; 
                border-radius: 30px;
                z-index: 0

            }
            &:before{
                content: '';
                display: inline-block;
                width: 90px;
                height:80px;
                background-color:#D9E3F6;
                position: absolute;
                bottom: 20%;
                left: 10px; 
                border-radius: 50px;
                z-index: 0

            }
        }
    }
}
.footer-center{
    >div{
        flex: 1 0 0 ;
    }
    .social-link{
        color: #fff;
        font-size: 1rem;
        &.instagram{
            background: linear-gradient(90deg, #FF4E4E 0%, #D92D2D 100%);

        }
        &.telegram{
            background: linear-gradient(90deg, #5F97FF 0%, #334EFF 100%);

        }
    }
    .footer-center-left{
        img{
            
           height: 180px
        }
    }
}
.copy-right{
    text-align: center;
    font-size: 1.1rem;
    font-weight:500;
    color: #626262;
    span{
        color: var(--main-color);

    }
}
.footer-bottom{
    width:100%;
    a{
        top: 10%;
        img{
            width: 80px
        }
        span{
            font-size: 2rem;
            font-weight: 700;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
    svg{
        width: 100%;
        height: 100%;

    }
}


.breadcrumb-container {
    li {
        a {
            color: #ACACAC;
        }
    }

    li:not(:first-child)::before {
        content: '/';
        color: #ACACAC;
        margin: 0 0.3rem;
    }
}

.page-details-header h2 {
    font-size: 1.5rem;
    color: #505050;
    font-weight: 600;
}
.page p{
    color:#929292;
    font-size: 1rem;
    line-height: 2rem;

}
.hr-line {
    background-color: #D6D6D6;
    height: 1px;
}

.pagination{
    background-color: #ECECEC;
    a{
        color: #B5B5B5;
        font-size: 1rem
    }
}