.product-title{
    h2{
        font-size: 1.5rem;
        color: #505050;
        font-weight: 600;
    }
    p{
        color: #ACACAC;
        font-size: 1rem
    }
}
.product-info {
    >div {
        flex: 1 0 0;
    }
}

.card-model-1-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}
.product-img {
    position: sticky;
    top: 1rem;
    .image {
        aspect-ratio: 1.25;
        height: auto;

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            -o-object-fit: cover;
            -o-object-position: center;
        }
    }
}
.icons{
    >div{
        direction: ltr;
    }
    svg{
        width: 40px;
        height: 40px;
        
    }
    span{
        color: #CDCDCD;
        font-size: 0.9rem
    }
}
.detail-card{
    h6{
        color: #7C7C7C;
        background-color: #F2F2F2;
        font-size: 1rem;
    }
    input{
        display: none;
    }
}
.region-flags{
   
    label{
        border: 3px solid transparent;
        width: 50px;
        height: 50px;
        img{
            width: 100%;
        }
        &:has(input:checked){
            border: 3px solid #E0E0E0 ;
        }
    }
}
.price-tabs{
    span{
        display: inline-block;
        min-width: fit-content;
        font-size: 0.9rem   ;
        color: #7C7C7C;
        background-color: #F2F2F2;
        /* border-radius: 30rem; */


    }
    label:has(input:checked) span{
        color: #fff;
        background-color: #4D4D4D;
        }
    
}

.price-card{
    text-align: right;
    p{
        letter-spacing: 1px;
        color: #5B5B5B;
        font-weight: 600;
        font-size: 2rem
    }
    span.discount-price{
        font-size: 1.5rem;
        font-weight: 600;
        text-align: right;
    }


}

.counter-section{
    background-color: #D9E3F6;
    height:60px;
    button{
        height: 100%;
        width: auto;
        aspect-ratio: 1;
        background-color: var(--main-color);
        svg{
            width: 27px;
            height: 27px;
        }
    }
    .count-number{
        font-size: 2rem;
        font-weight: 600;
    }
}
.basket{
    width: 60px;
    background-color: var(--success-color);
    svg{
        width: 30px;
        height: 30px;
    }
}
.card-color{
    h5{
        color: #3E3E3E;
        font-size: 1.2rem;
    }
    p{
        color: #929292;
        font-size: 1rem;
        line-height: 1.9rem;
    }
    .color-line{
        display: inline-block;
        top: 1.5rem;
        right: -0.15rem;
        width: 0.3rem;
        height: 4.5rem;
        background-color: var(--bg-color);

    }
}
.rating-box{
    >div{
        flex: 1 0 0;
    }
    h6{
        color: #626262;
        font-size: 1.1rem;
        font-weight: 600;
    }
    p{
        color: var(--box-color);
        font-size: 0.95rem;
        font-weight: 500;
    }
    .rating-box-mask{
        background-color: var(--box-color);
        opacity: .15;
        width: 100%;
        height: var(--mask-height);
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    svg{
        width: 60px;
        height: 60px
    }
}
.social-media-container{
    h6{
        color: #9F9F9F;
        font-size: 1.2rem;
    }
    a.link-content{
        width: 100%;
        color: #999;
        background-color: #EDEDED;
        font-size: 1.1rem;
    }
    .copy-link{
        min-width: fit-content;
        flex-shrink: 0;
        background-color: var(--success-color);
        color: #fff;
        font-size: 0.9rem;
    }
}

.social-media{
    width: 70px;
    aspect-ratio: 1;
    height: auto;
    svg{
        width: 100%;
        height: 100%;
    }
    span{
        opacity: 0.15;
        z-index: -1
    }
    &:nth-child(1) span{
        background: linear-gradient(90deg, #FF4E4E 0%, #D92D2D 100%);
        ;
    }
    &:nth-child(2) span{
        background: linear-gradient(90deg, #5F97FF 0%, #334EFF 100%);

    }
    &:nth-child(3) span{
        background: linear-gradient(90deg, #5FFFAF 0%, #00B916 100%);

    }
    &:nth-child(4) span{
        background: linear-gradient(90deg, #C29FFF 0%, #A652FF 100%);

    }
}
.comment-box{
    h6{
        font-size: 1.1rem;
    }
    span{
        color: #7A7A7A;
        font-size: 1rem;
    }
}
.comment-box:nth-child(odd){
    background-color:#0040C910   ;
    h6{

        color: var(--main-color)
    }
}
.comment-box:nth-child(even){
    h6{
        color: var(--second-color)
    }
}

.comment-form-header{
    h6{
        color: #969696;
    }
    input{
        display: none
    }
    label{
        width: 3rem;
        height: 3rem;
        svg{
            width: 2rem;
            height: 2rem
        }
        span{
            opacity: 0.1
        }
        &:has(input:checked) span{
            background-color: var(--bg-color);
        }
    }
}

textarea , input{
    border: none;
    background-color: #00000008;
}
textarea{
    min-height: 150px;
}
.inputs{
    grid-template-columns: repeat(2, 1fr);
}


@media (max-width: 992px){
    .product-info{
        flex-wrap: wrap;
        >div{
            width: 100%
        }
    }
    .product-img{
        position: static
    }
    .add-basket{
        border-radius: 0.5rem !important;
    }
    .insert-comment input{
        font-size: 0.8rem;
        min-width: 50%;
    }
    .insert-comment textarea{
        font-size: 0.8rem;
    }
    .insert-comment textarea::placeholder{
        font-size: 0.8rem;
    }
    .insert-comment button{
        font-size: 0.8rem;
    }
    .comment-form-header {
        h6 {
            font-size: 0.7rem
        }
        label{
            width: 2rem;
            height: 2rem;
            svg{
                width: 1.5rem;
            height: 1.5rem;
            }
        }
    }
    .card-color{
        p{
            font-size: 0.7rem;
            line-height: 1.3rem;
        }
    }
    .comment-box {
        h6{
            font-size: 0.8rem
        }
        span{
            font-size: 0.8rem
        }
    }
    .social-media-container {
        a.link-content {
            font-size: 0.8rem;
        }
        .copy-link{
            font-size: 0.8rem;

        }
        h6{
            font-size: 0.75rem
        }
    }
    .social-media{
        width: 2.5rem;
        border-radius: 0.5rem !important;
    }
    .card-color {
        h5 {
            font-size: 0.75rem;
        }
    }
    .rating-box{
        h6{
            font-size: 0.7rem
        }
        svg{
            width: 1.8rem;
            height: 1.8rem;

        }
    }
    .rating-box-mask{
        border-radius: 1rem !important;
    }
    .price-card {
        p{
            font-size: 1rem;
        }
        span.discount-price{
            font-size: 0.8rem;
        }
    }
    .counter-section {
        height: 30px;
        button {
            width: 1.2rem;
            height: 1.2rem;
        }
        .count-number{
            width: 1.2rem;
            height: 1.2rem;
            font-size: 0.8rem;
        }
    }
    button.button-second {
        width: 27px;
        height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 1rem;
            height: 1rem;
        }
    }
    .basket{
        width: 28px;
        height: 28px;
        border-radius: 0.375rem !important;
        svg{
            width: 100%;
            height: 100%
        }
    }
    .detail-card {
    h6{
        font-size: 0.8rem;
        min-width:fit-content;
    }}
    .price-tabs {
        span {
            font-size: 0.7rem;
        }
    } 
    .region-flags {
        label {
            width: 2rem;
            height: 2rem
        }
    }
    .icons{
        svg{
            width: 1rem;
            height:1rem;
        }
        span{
            font-size: 0.7rem;
        }
    }   
}